@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "Moderustic", serif;
}

body {
  background-color: #242424;
  color: white;
}

.hr {
  outline: none;
  border: none;
  height: 4px;
  border-radius: 50px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background: linear-gradient(to right, red, purple);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #B45309;
  border-radius: 10px;
}